<section class="about">

   <section class="image" style="background: url(assets/images/aboutpic.jpeg)"></section>
 
    <div class="content">
       <h3 class="about-title">why choose us?</h3>
       <p>The biggest reason we give flowers as gifts is to connect with an emotion. Whether its love, joy, affection, appreciation, sympathy, romance or apologies; 
         flower giving communicates the deepest feelings in the most elegant manner.</p>
       <p>The biggest reason we give flowers as gifts is to connect with an emotion. Whether its love, joy, affection, appreciation, sympathy, romance or apologies; 
         flower giving communicates the deepest feelings in the most elegant manner.</p>
       <div class="icons-container">
          <div class="icons">
             <img src="assets/images/icon-1.png" alt="">
             <h3>free delivery</h3>
          </div>
          <div class="icons">
             <img src="assets/images/icon-2.png" alt="">
             <h3>10 days return</h3>
          </div>
          <div class="icons">
             <img src="assets/images/icon-3.png" alt="">
             <h3>offer and gifts</h3>
          </div>
          <div class="icons">
            <img src="assets/images/icon-4.png" alt="">
            <h3>secure payments</h3>
         </div>
       </div>
    </div>
 
 </section>