<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>

            </div>
            <p>You can ask any social media user (especially Instagram users), and they will tell you that snapping those gorgeous photos of flowers is the easy part.Getting unique and meaningful words to describe flowers in a post is no easy task. If you love sharing flower-based photos, you probably experience this bottleneck daily.</p>
            <div class="user">
                <img src="assets/images/pic-1.png" alt="">
                <div class="user-info">
                    <h3>Hister sen</h3>
                    <span>happy customer</span>
                </div>
            </div>
            </div>
    
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>You can ask any social media user (especially Instagram users), and they will tell you that snapping those gorgeous photos of flowers is the easy part.Getting unique and meaningful words to describe flowers in a post is no easy task. If you love sharing flower-based photos, you probably experience this bottleneck daily.</p>
            <div class="user">
                <img src="assets/images/pic-2.png" alt="">
                <div class="user-info">
                    <h3>Alexa leo</h3>
                    <span>happy customer</span>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>You can ask any social media user (especially Instagram users), and they’ll tell you that snapping those gorgeous photos of flowers is the easy part.Getting unique and meaningful words to describe flowers in a post is no easy task. If you love sharing flower-based photos, you probably experience this bottleneck daily.</p>
            <div class="user">
                <img src="assets/images/pic-3.png" alt="">
                <div class="user-info">
                    <h3>Abryniaj</h3>
                    <span>happy customer</span>
                </div>
            </div>
        </div>
        </div>
        
    </section>
    
