.section{
    padding: 5rem 10%;
}

.home .image{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 5rem;
    color:#333;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid hotpink;
    background: #f0fdfa;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .btn:hover {
    background: red;
    color: #fff;
  }
  
